.photo-grid {
  padding-top: 92px;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: auto;
  gap: 16px;
  width: calc(100% - 96px);
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid{
    padding-top: 88px;
    width: calc(100% - 48px);
    gap: 16px;
  }
}

@media screen and (max-width: 475px) {
  .photo-grid{
    padding-top: 64px;
    width: calc(100% - 32px);
    gap: 12px;
  }
}