.intro {
  padding-top: 92px;
  max-width: 984px;
  width: calc(100% - 96px);
}

@media screen and (max-width: 768px) {
  .intro {
    width: calc(100% - 48px);
    padding-top: 88px;
  }
}
@media screen and (max-width: 475px) {
  .intro {
    width: calc(100% - 32px);
    padding-top: 64px;
  }
}