.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 92px 0 24px;
  gap: 18px;
  max-width: 1184px;
  width: calc(100% - 96px);
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 88px;
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 475px) {
  .footer {
    padding-top: 64px;
    width: calc(100% - 32px);
    gap: 48px;
    flex-direction: column;
  }
}